<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/login.css}">
    <title>Connexion</title>
</head>
<body>
<!-- Conteneur central de la boîte de connexion -->
<div class="login-container">
    <!-- Titre de la page de connexion -->
    <img th:src="${school.getUrlLogo()}" th:if="${school.id != null}" alt="eee"/>
    <h1 th:text="${school.name}" th:if="${school.id != null}"></h1>
    <!-- Formulaire de connexion -->
    <form th:action="@{/login}" method="post">
        <input type="text" id="identifiant" name="username" placeholder="Identifiant" required>
        <input type="password" id="mot-de-passe" name="password" placeholder="Mot de passe" required>
        <button type="submit">Connexion</button>
    </form>
</div>
</body>
</html>