


<aside th:fragment="sidebar">
    <img th:src="${school.urlLogo}"/>
    <h2 th:text="${school.name}"></h2>
    <nav>
        <ul>
            <li><a th:href="@{/students}">&#x1F466;</i> Élèves</a></li>
            <li><a th:href="@{/teachers}"><i class="icon-professeurs">&#x1F464;</i> Professeurs</a></li>
            <li><a th:href="@{/users}"><i class="icon-utilisateurs">&#x1F465;</i> Utilisateurs</a></li>
            <li><a th:href="@{/reports}"><i class="icon-rapport">&#x1F4C4;</i> Rapport</a></li>
            <li><a th:href="@{/}"><i class="icon-rapport fas fa-cogs"></i> Paramètres de l'application</a></li>
            <li><a th:href="@{/schools/update}"><i class="icon-rapport fas fa-school"></i> Paramètres de l'école</a></li>
        </ul>
    </nav>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logout"><i class="icon-deconnexion">&#x1F6AA;</i>Déconnexion</button>
    </form>
</aside>

<th:block th:fragment="jscript">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script th:src="@{/home.js}"></script>
</th:block>
